*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

background:#ececec;

display:flex;
justify-content:center;

font-family:
Arial,
sans-serif;

}

.invitacion-container{

position:relative;

width:100%;
max-width:900px;

}

.invitacion{

width:100%;

display:block;

}

/* MAPS */

.maps-btn{

position:absolute;

left:13.5%;
top:69%;

width:28%;

height:3.7%;

z-index:20;

}

/* WAZE */

.waze-btn{

position:absolute;

right:13.5%;
top:69%;

width:28%;

height:3.7%;

z-index:20;

}

/* FORMULARIO */

.rsvp{

position:absolute;

left:33%;
top:84.1%;

width:27%;

display:flex;

flex-direction:column;

gap:10px;

z-index:50;

}

.rsvp input,
.rsvp select{

background:transparent;

border:none;

outline:none;

font-size:18px;

color:#14345a;

padding:6px;

}

.rsvp button{

margin-top:10px;

background:#0f3768;

color:white;

border:none;

border-radius:20px;

padding: 10px;

cursor:pointer;

font-size:15px;

}

.rsvp button:hover{

background:#1b4c89;

}

#mensaje{

text-align:center;

font-size:14px;

font-weight:bold;

margin-top:5px;

}

/* MOVIL */

@media(max-width:768px){

.rsvp{

left:32.5%;

width:28%;

}

.rsvp input,
.rsvp select{

font-size:12px;

padding:3px;

}

.rsvp button{

font-size:11px;

padding:8px;

}

}